:root {
    --primary-bg: #000000;
    --secondary-bg: #080808;
    --btn-primary-outline-bg: 1px solid #000000;
    --btn-primary-bg:#ffffff;
    --btn-text:#000000;
    --btn-text-hover:rgba(255, 255, 255, 0.3);
    --nav-text: #ffffff;
    --nav-text-hover: #000000;
    --footer-text: #ffffff;
    --text-color: #ffffff;
    --secondary-text-color: #c8c8c8;
    --footer-text: #ffffff;
    --box-bg: rgba(255, 255, 255, 0.3);
    --box-outline: 1px solid #ffffff;
    --box-text:  #ffffff;
    --footer-bg: :rgba(255, 255, 255, 0.3);
    --logo-color: #ffffff;
}