/* Global */

:root {
    --primary-bg: #324cdc;
    --secondary-bg: #080808;
    --btn-primary-outline-bg: 1px solid #ffffff;
    --btn-primary-bg:#ffffff;
    --btn-text:#000000;
    --btn-text-hover:rgba(255, 255, 255, 0.3);
    --btn-bg-hover: rgba(255, 255, 255, 0.9);
    --nav-text: #ffffff;
    --nav-text-hover: #000000;
    --nav-btn-hover: #ffffff;
    --footer-text: #ffffff;
    --text-color: #ffffff;
    --secondary-text-color: #c8c8c8;
    --footer-text: #ffffff;
    --box-bg: rgba(255, 255, 255, 0.3);
    --box-outline: 1px solid #ffffff;
    --box-text:  #ffffff;
    --footer-bg: :rgba(255, 255, 255, 0.3);
    --logo-color: #ffffff;
}



body {
    background: var(--bg-color);
    margin: 0;
    padding: 0;
}

* {
    font-family: "League Spartan", sans-serif;
}


/* Containers and alignment */

.container-100 {
    position: relative;
    width: 100vw;
    margin: 0 auto;
    padding: 0;
}

.container-70 {
    position: relative;
    width: 70vw;
    margin: 0 auto;
    padding: 1rem;
}

@media (max-width: 768px) {
    .container-70 {
        width: 90%;
        margin: 0 auto;
        padding: 1rem;
    }
}

.d-flex {
    display: flex;
}
nav {
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}

/* colours */

.primary-bg {
    background-color: var(--primary-bg);
}

/* images / icons */

.logo {
    fill: var(--logo-color);
}

/* Fonts */

@font-face {
    font-family: "Google Sans", sans-serif;
    font-style: normal;
    font-weight: 100 1000;
    font-stretch: 25% 151%;
    src: url('./assets/fonts/Google_Sans/GoogleSans-VariableFont_GRAD,opsz,wght.ttf') format('ttf');
    font-display: swap;
}



/* Navigation / Lists */

nav ul {
    display: flex;
    padding: 0;
    margin: 0;
}

@media (max-width: 768px) {
    nav ul {
        display: block;
        margin-top: 1rem;
        width: 100%;
        margin-left: 0;
    }
}


nav li {
    color: var(--nav-text);
    border: 1px solid transparent;
    margin-left: 1rem;
    border-radius: 50px;
    padding: 10px 14px;
    text-decoration: none !important;
    list-style: none;
    font-size: 1.1rem;
    font-weight: 400;
    /* margin-top: 1rem;  */
}

@media (max-width: 768px) {
    nav li {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 10px;
        margin-left: 0;
    }
}

nav li:last-child {
    background-color: var(--btn-primary-bg); 
    color: var(--btn-text);
    border: 1px solid var(--btn-primary-bg);
    margin-left: 1rem;
    border-radius: 50px;
    padding: 10px 14px;
    text-decoration: none !important;
    font-size: 1.1rem;
    font-weight: 400;
    /* margin-top: 1rem;  */
}

@media (max-width: 768px) {
    nav li:last-child  {
        margin-left: 0;
        margin-top: 10px;
    }
}

nav li:hover {
    background-color: var(--btn-bg-hover); 
    border: var(--btn-primary-outline-bg); 
    color: var(--nav-text-hover);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}


/* Video */

.hero {
    /* display: flex; */
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
}

.hero-overlay {
    z-index: 1;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    inset: 0px;
}